{% extends 'admin/adminbase.html.twig' %}
{% block body %}

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">

                <div class="text-right mt-5">
                    {% if check_category %}
                        <a href="{{ path('admin_post_create') }}" class="btn btn-success">Create post</a>
                    {% else %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <h3>first create at least one category</h3>
                            <hr>
                            <a href="{{ path('admin_category_create') }}">Create category</a>
                        </div>
                    {% endif %}
                </div>

                <h1 class="display-4 text-center mt-0">
                    {{ title }}
                </h1>

            </div>
        </div>
    </div>

    <div class="container mt-5 text-left">
        <div class="row no-gutters">
            <div class="col-12">

                <div class="container text-left mt-5">
                    <form>
                        <label for="category"><h5>Categories:</h5></label>
                        <select class="custom-select">
                            {% for category in categories %}
                                <option value="{{ category.id }}">
                                    {{ category.title }}
                                </option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-dark mt-3" type="submit" value="select">Select category</button>
                    </form>
                </div>

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container mt-5 text-left">
        <div class="row no-gutters">
            <div class="col-12" >
                {% for post_item in post %}
                    <p style="border-bottom: 1px solid gray; padding-bottom: 20px;">
                        <img src="{{ asset ('uploads/post/') }}{{ post_item.image }}" width="200" style="float:left; margin: 7px 7px 7px 0;">
                        <small style="text-align: left">Category: {{ post_item.category.title }}</small><br>
                        <small style="text-align: left">Create at: {{ post_item.getCreateAt |date('d-m-Y') }}</small><br>
                        <small style="text-align: left">Update at: {{ post_item.getUpdateAt |date('d-m-Y') }}</small><br>
                        <small style="text-align: left">Is published: {{ post_item.getIsPublished ? 'Yes':'No' }} </small><br><br>
                        {{ post_item.content }}
                    </p>
                {% endfor %}
            </div>
        </div>
    </div><br>
    <div class="container" style=" position: absolute; left: 50%; margin-left: -100px;">
    </div><br><br><br><br>

{% endblock %}