{% extends 'admin/adminbase.html.twig' %}
{% block body %}

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">

                {# create post or category #}
                <div class="text-right mt-5">
                    {% if categories %}
                        <a href="{{ path('admin_post_create') }}" class="btn btn-success">Create post</a>
                    {% else %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <h3>first create at least one category</h3>
                            <hr>
                            <a href="{{ path('admin_category_create') }}">Create category</a>
                        </div>
                    {% endif %}
                </div>

                {# title #}
                <h1 class="display-4 text-center mt-0">
                    {{ title }}
                </h1>

            </div>
        </div>
    </div>

    <div class="container mt-5 text-left">
        <div class="row no-gutters">
            <div class="col-12">

                {# show categories to select #}
                <div class="container text-left mt-5">
                    <form style="margin-bottom: 10px;" action="{{ path('admin_post') }}" method="post">
                        <p>Categories:</p>
                        <div>
                            {% for category in categories %}
                                <input type="checkbox" id="category{{ category.id }}"
                                       name="category[]" value="{{ category.id }}">
                                <label for="category{{ category.id }}">{{ category.title }}</label><br>
                            {% endfor %}
                        </div>
                        <div>
                            <input  class="btn btn-success mt-3" type="submit" name="save" value="select"/>
                        </div>
                    </form>
                </div>

                {# show selected categories #}
                <div class="container text-left mt-5">
                    {% if category|default(null) %}
                        <p>Selected categories: </p>
                        {% for category_item in category %}
                            * {{ category_item.title }}<br>
                        {% endfor %}
                    {% endif %}
                </div>

                {# show message #}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

    {# main part #}
    <div class="container mt-5 text-left">
        <div class="row no-gutters">
            <div class="col-12" >

                {# show posts data #}
                {% for post_item in posts %}
                        <div style="border-bottom: 1px solid gray; padding-bottom: 20px;">
                            <br>
                            <h3 style="text-align: center">
                                <a href="{{ path('admin_post_update', {'id': post_item.id}) }}">
                                    {{ post_item.title }}
                                </a>
                            </h3><br><br>
                            <p style="border-bottom: 1px solid gray; padding-bottom: 20px;">
                                <img src="{{ asset ('uploads/post/') }}{{ post_item.image }}" width="200" style="float:left; margin: 7px 7px 7px 0;">
                                <small style="text-align: left">Category: {{ post_item.category.title }}</small><br>
                                <small style="text-align: left">Created at: {{ post_item.getCreateAt |date('d-m-Y') }}</small><br>
                                <small style="text-align: left">Update at: {{ post_item.getUpdateAt |date('d-m-Y') }}</small><br>
                                <small style="text-align: left">Is published: {{ post_item.getIsPublished ? 'Yes':'No' }} </small><br>
                                <small style="text-align: left">Id: {{ post_item.id }} </small><br>
                                <small style="text-align: left">
                                    Author: {% if post_item.user %}{{ post_item.user.getFullName }}{% endif %}
                                </small><br><br>
                        <p>{{ post_item.content }}</p><br>

                        {# show comments to posts #}
                        <h5>Comments:</h5>
                        {% if post_item.comments|length > 0 %}
                            {% for comment in post_item.comments %}
                                <div class="border rounded" style="padding: 10px;">
                                    <p>{{ comment.user.getFullName }} commented: <span style="font-style: italic">"{{ comment.content }}"</span></p>
                                    <small style="text-align: left; font-style: italic;">(comment created at: {{ comment.getCreateAt |date('d-m-Y') }})</small><br>
                                    <small style="text-align: left; font-style: italic;">(comment created by: {{ comment.user.getFullName }})</small><br>

                                    <form style="margin-bottom: 10px;" action="{{ path('admin_comment_delete', {'id': comment.id}) }}" method="post">
                                        <input  class="btn btn-danger mt-3" type="submit" name="delete" value="delete" />
                                    </form>
                                </div><br>
                            {% endfor %}
                        {% else %}
                            <span style="font-style: italic; margin-bottom: 5px;">no comments yet...</span><br>
                        {% endif %}

                        {# add comment #}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <form style="margin-bottom: 10px;" action="{{ path('admin_comment_create', {'postId': post_item.id}) }}" method="post">
                                <input  class="form-control" type="text" id="context" name="_context" placeholder="Enter your comment" value=""/>
                                <input  class="btn btn-success mt-3" type="submit" name="save" value="save" />
                            </form><br>
                        {% endif %}

                    </div><br>
                {% endfor %}
            </div>
        </div>
    </div><br>

    {# pagination #}
    <div class="container" style=" position: absolute; left: 50%; margin-left: -100px;">
        {{ knp_pagination_render(posts) }}
    </div><br><br><br><br>

{% endblock %}