<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">

    <title>{% block title %}Home page{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/framework/fontawesome-4.7.0/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/framework/bootstrap-4.4.1/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/main/css/style.css') }}">
    {% endblock %}

    <style>
        html{
            position:relative;
            min-height: 100%;
        }
        /*Normalize html and body elements,this style is just good to have*/
        html,body{
            margin:0;
            padding:0;
        }
        .pageContentWrapper{
            margin-bottom:100px;/* Height of footer*/
        }
        .footer{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height:100px;
        }
    </style>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('home') }}">
        <i class="fa fa-ravelry" aria-hidden="true"></i>
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Main page<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <i class="fa fa-user-circle-o mr-2" aria-hidden="true" style="color: yellowgreen"></i><span class="mr-3" style="color: yellowgreen; ">You are logged in as: {{ app.user.fullName }}</span>
                <i class="fa fa-sign-in mr-2" aria-hidden="true" style="color: yellowgreen"></i><a href="{{ path('app_logout') }}" class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Logout</a>
                <i class="fa fa-address-card mr-2" aria-hidden="true" style="color: yellowgreen"></i><a href="{{ path('user_update', {'userId': app.user.id }) }}" class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Profile</a>
            {% else %}
                <i class="fa fa-sign-in mr-2" aria-hidden="true" style="color: yellowgreen"></i><a href="{{ path('app_login') }}" class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Login</a>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <i class="fa fa-briefcase mr-2" aria-hidden="true" style="color: yellowgreen"></i><a href="{{ path('admin_home') }}" class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Admin</a>
            {% endif %}

        </form>
    </div>
</nav>

<div class="pageContentWrapper">
    {% block body %}
    {% endblock %}
</div>

{% block javascripts %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="{{ asset('assets/framework/vue/vue.js') }}"></script>
    <script src="{{ asset('assets/framework/bootstrap-4.4.1/js/bootstrap.min.js') }}"></script>
    {% block addJs %}{% endblock %}
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>© 2017-2021 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </div>
    </footer><br>
{% endblock %}

</body>
</html>