{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 text-center mt-5" style="">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="text-right mt-3">
                        <a href="{{ path('post_create') }}" class="btn btn-success">Create post</a>
                    </div>
                {% endif %}

                <div id="app">
                    <h1 class="display-1">
                        [[ message ]]
                    </h1>
                </div>


                {#                <div class="container text-left mt-5">#}
{#                    <form>#}
{#                        <label for="category"><h5>Categories:</h5></label>#}
{#                        <select class="custom-select" name="filterPostCategory" id="filterPostCategory">#}
{#                            {% for category in categories %}#}
{#                                <option value="{{ category.id }}">#}
{#                                    {{ category.title }}#}
{#                                </option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                    </form>#}
{#                </div>#}

            </div>
        </div>
    </div>

    <div class="container mt-5 text-left">
        <div class="row no-gutters">
            <div class="col-12">
                {% for post_item in posts %}
                    <div style="border-bottom: 1px solid gray; padding-bottom: 20px;">
                        <br>
                        <h3 style="text-align: center">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% if post_item.user and post_item.user.id == app.user.id %}
                                        <a href="{{ path('post_update', {'id': post_item.id}) }}">
                                            {{ post_item.title }}
                                        </a>
                                {% else %}
                                    {{ post_item.title }}
                                {% endif %}

                            {% else %}
                                {{ post_item.title }}
                            {% endif %}
                        </h3><br>
                        <img src="{{ asset ('uploads/post/') }}{{ post_item.image }}" width="200" style="float:left; margin: 7px 7px 7px 0;">
                        <small style="text-align: left">Category: {{ post_item.category.title }}</small><br>
                        <small style="text-align: left">Created at: {{ post_item.getCreateAt |date('d-m-Y') }}</small><br>
                        <small style="text-align: left">Update at: {{ post_item.getUpdateAt |date('d-m-Y') }}</small><br>
                        <small style="text-align: left">Is published: {{ post_item.getIsPublished ? 'Yes':'No' }} </small><br>
                        <small style="text-align: left">Id: {{ post_item.id }} </small><br>
                        <small style="text-align: left">
                            Author: {% if post_item.user %}{{ post_item.user.getFullName }}{% endif %}
                        </small><br><br>
                        <p>{{ post_item.content }}</p><br>

                        <h5>Comments:</h5>
                        {% if post_item.comments|length > 0 %}
                            {% if post_item.comments|length > 3 %}
                                <small style="text-align: left; font-style: italic;">(Many comments. Showing the last three comments)</small><br>
                                {% for comment in post_item.comments|slice(-3) %}
                                    <div class="border rounded" style="padding: 10px;">
                                        <p>User commented: <span style="font-style: italic">"{{ comment.content }}"</span></p>
                                        <small style="text-align: left; font-style: italic;">(comment created at: {{ comment.getCreateAt |date('d-m-Y') }})</small><br>
                                        <small style="text-align: left; font-style: italic;">(comment created by: {{ comment.user.getFullName }})</small><br>
                                    </div><br>
                                {% endfor %}
                            {% else %}
                                {% for comment in post_item.comments %}
                                    <div class="border rounded" style="padding: 10px;">
                                        <p>User commented: <span style="font-style: italic">"{{ comment.content }}"</span></p>
                                        <small style="text-align: left; font-style: italic;">(comment created at: {{ comment.getCreateAt |date('d-m-Y') }})</small><br>
                                    </div><br>
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            <span style="font-style: italic; margin-bottom: 5px;">no comments yet...</span><br>
                        {% endif %}

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <form style="margin-bottom: 10px;" action="{{ path('comment_create', {'postId': post_item.id}) }}" method="post">
                                <input  class="form-control" type="text" id="context" name="_context" placeholder="Enter your comment" value=""/>
                                <input  class="btn btn-success mt-3" type="submit" name="save" value="save" />
                            </form><br>
                        {% endif %}

                    </div><br>
                {% endfor %}
            </div>
        </div>
    </div><br>
    <div class="container" style=" position: absolute; left: 50%; margin-left: -100px;">
        {{ knp_pagination_render(posts) }}
    </div><br><br><br><br>




{% endblock %}

{% block addJs %}

    <script>
        Vue.options.delimiters = ['[[',']]'];
        let app = new Vue({
            el: '#app',
            data: {
                message: 'Blog'
            },
        });
    </script>

    <script>
        $(document).ready(function (){

            // get variable with controller name
            const controller = '{{ path('data_post') }}';

            // filterPostCategory - id category select; on change - function:
            $('#filterPostCategory').on('change', function (){
                // new variable with selected category id
                let categoryId = $(this).val();
                // run ajax function with args categoryId and controller
                ajaxPost(categoryId, controller);
            })
        });

        function ajaxPost(categoryId, controller){
            // new variable for data
            let data = new FormData();
            // append categoryId to data
            data.append('categoryId', categoryId);

            $.ajax({
                // send to url:
                url: controller,
                // request method, and others params
                type: "POST",
                contentType: false,
                cache: false,
                processData: false,
                dataType: "json",
                // send data
                data: data,
                // if success
                success:
                    function (response){
                    console.log(response);
                    },
                // if error
                onerror:
                    function (){
                        console.log('error');
                    }
            });
        }


    </script>

{% endblock %}
